<!DOCTYPE html>
<html>
<head>
	<title>Discussion forum</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
</head>

<body>
	<div class="container-1">
		<nav id="header-1">
			<div id="header-1-inner-1">
				<span>Discussion forum</span>
			</div>

			<div id="header-1-inner-2">
				<span>Questions</span>
				<span>tags</span>
				<span>users</span>
				<span>unanswered</span>
				<span>ask a question</span>
			</div>
		</nav>

		<section class="container-2">
			<div id="container-3">
				<div id="sort">
					<span>active</span>
					<span>popular</span>
					<span>newest</span>
					<span>most voted</span>
				</div>
			</div>

			<div id="container-4">

				<div id="questions-section">

					<div class="question-segment">
						
						<div class="count">
							<div class="count-inner">
								<div class="count-element">0</div>
								<div class="count-element">5</div>
								<div class="count-element">6</div>
							</div>
							<div class="count-inner">
								<div class="count-element">votes</div>
								<div class="count-element">answers</div>
								<div class="count-element">views</div>
							</div>
						</div>

						<div class="question">
							<div class="question-inner">
								<div id="question-element">
									What is this discussion forum about?
								</div>
							</div>
							<div class="question-inner">
								<div id="question-tags">
									<span>#first</span>
									<span>#comingsoon</span>
								</div>	
							</div>
						</div>
						<div class="user">
							<div class="user-inner user-element">
								<div id="user-name">
									priyo97	
								</div>
							</div>
							<div class="user-inner user-element">
								
								<div id="posted-time">
									57 mins ago
								</div>
							</div>
						</div>	
					</div>

					<div class="question-segment">
						
						<div class="count">
							<div class="count-inner">
								<div class="count-element">0</div>
								<div class="count-element">4</div>
								<div class="count-element">7</div>
							</div>
							<div class="count-inner">
								<div class="count-element">votes</div>
								<div class="count-element">answers</div>
								<div class="count-element">views</div>
							</div>
						</div>

						<div class="question">
							<div class="question-inner">
								<div id="question-element">
									When is it starting?
								</div>
							</div>
							<div class="question-inner">
								<div id="question-tags">
									<span>#discuss</span>
									<span>#excited</span>
								</div>	
							</div>
						</div>
						<div class="user">
							<div class="user-inner user-element">
								<div id="user-name">
									alex21	
								</div>
							</div>
							<div class="user-inner user-element">
								
								<div id="posted-time">
									33 mins ago
								</div>
							</div>
						</div>	
					</div>
				</div>

				<div id="question-thread">
					<div id="user-post">
						<div id="user-description">
							<div id="profile-pic">
								<img  id="user-pic" src="../static/images/user.jpg">
							</div>

							<div id="user-name">
								priyo97
							</div>
						</div>
						
						<h3>What is this discussion forum about?</h3>
					</div>

					<div id="post-activity">
						<div id="likes">
							<img id="like-image" src="../static/images/like.png">
							<span>12</span>
						</div>

						<div id="dislikes">
							<img id="dislike-image" src="../static/images/dislike.png">
							<span>1</span>
						</div>
					</div>

					<div id="comments-section">
						
						<h3>Comments:</h3><br>

						<div class="comment-segment">
							
							<div class="count">
								<div class="count-inner">
									<div class="count-element">0</div>
									<div class="count-element">4</div>
								</div>
								<div class="count-inner">
									<div class="count-element">likes</div>
									<div class="count-element">dislikes</div>
								</div>
							</div>

							<div class="comment">
								<div class="comment-inner">
									<div id="comment-element">
										Starting very soon.
									</div>
								</div>
								<div class="comment-inner">
								
								</div>
							</div>
						
							<div class="user">
								<div class="user-inner user-element">
									<div id="user-name">
										alex21	
									</div>
								</div>
								<div class="user-inner user-element">
									
									<div id="posted-time">
										33 mins ago
									</div>
								</div>
							</div>

						</div>						
					</div>
				</div>
			
			</div>
		</section>
	</div>
</body>
</html>
