<!DOCTYPE html>
<html>
<head>
	<title>Discussion forum</title>
	<link rel="stylesheet" type="text/css" href="../static/css/post.css">
</head>
<body>
	<div class="container-1">
		<div class="container-2-">
			<nav>
				<div id="header-1">
					<span>Discussion forum</span>
				</div>

				<div id="header-2">
					<span>Questions</span>
					<span>tags</span>
					<span>users</span>
					<span>unanswered</span>
					<span>ask a question</span>
				</div>
			</nav>
		</div>

		<div class="container-2"></div>
			<h1>POST A </h1>
			<form method="POST" action="">

				<label for="topic-subject">Subject: </label>
				<input type="text" name="topic-subject" id="topic-subject">
				<label for="topic-question">Question:</label>
				<textarea id="topic-question"></textarea>
			</form>

		</div>
	</div>
</body>
</html>